#root {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

main {
    grid-column: 2;
    width: 100%;
}

header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    align-content: center;
    text-align: center;
}