@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

main {
    grid-column: 2;
    align-content: center;
    justify-content: center;
    max-width: 100%;
}

header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    header {
        display: flex;
        justify-content: center;
    }
  }